html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html, body {
  height: 100%;
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  width: 90%;
  border: none;
  border-bottom: 1px solid #aaa;
  overflow: visible;
  margin-top: 40px;
  margin-bottom: 40px; }

* {
  font-family: "Segoe UI";
  font-size: 1.12rem; }

a {
  color: #0275d8; }

br {
  line-height: 150%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 400; }

.align-right {
  text-align: right; }

p {
  padding: 0;
  margin: 0;
  line-height: 1.3; }

@media (min-width: 1200px) {
  h1 {
    font-size: 80px; }
  h2 {
    font-size: 64px; }
  h3 {
    font-size: 48px; }
  h4 {
    font-size: 36px; }
  h5 {
    font-size: 28px; }
  h6 {
    font-size: 24px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  h1 {
    font-size: 54px; }
  h2 {
    font-size: 50px; }
  h3 {
    font-size: 44px; }
  h4 {
    font-size: 35px; }
  h5 {
    font-size: 28px; }
  h6 {
    font-size: 24px; } }

@media (max-width: 700px) {
  h1 {
    font-size: 35px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 27px; }
  h5 {
    font-size: 25px; }
  h6 {
    font-size: 23px; } }

.top-nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: #fff; }
  @media (min-width: 1200px) {
    .top-nav {
      padding-left: 160px;
      padding-right: 160px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .top-nav {
    padding-left: 80px;
    padding-right: 80px; } }
  @media (max-width: 700px) {
    .top-nav {
      padding-left: 20px;
      padding-right: 20px; } }
  .top-nav .nav-item {
    position: relative; }
    .top-nav .nav-item a {
      display: block;
      color: #111;
      text-decoration: none; }
      .top-nav .nav-item a:hover {
        color: #444444; }
    @media (min-width: 1200px) {
      .top-nav .nav-item {
        float: right;
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px; }
        .top-nav .nav-item a {
          font-size: 25px;
          padding: 15px; }
        .top-nav .nav-item.nav-left {
          float: left; }
        .top-nav .nav-item:first-of-type {
          padding-right: 0; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .top-nav .nav-item {
    position: relative;
    float: right;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px; }
    .top-nav .nav-item a {
      font-size: 22px;
      padding: 12px; }
    .top-nav .nav-item.nav-left {
      float: left; }
    .top-nav .nav-item:first-of-type {
      padding-right: 0; } }
    @media (max-width: 700px) {
      .top-nav .nav-item {
        display: block;
        padding: 6px;
        border-bottom: 1px solid #111; }
        .top-nav .nav-item a {
          font-size: 25px;
          padding: 20px; } }
  @media (max-width: 700px) {
    .top-nav .nav-mobile-hidden {
      display: none; } }
  .top-nav .nav-mobile-expander {
    display: none; }
    @media (max-width: 700px) {
      .top-nav .nav-mobile-expander {
        position: absolute;
        font-size: 25px;
        right: 6px;
        top: 6px;
        display: inline;
        cursor: pointer;
        padding: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2; } }

.grid {
  padding: 0;
  margin: 0; }
  .grid::after {
    content: "";
    display: table;
    clear: both; }
  .grid .col-1 {
    width: 8.33333%; }
  .grid .col-2 {
    width: 16.66667%; }
  .grid .col-3 {
    width: 25%; }
  .grid .col-4 {
    width: 33.33333%; }
  .grid .col-5 {
    width: 41.66667%; }
  .grid .col-6 {
    width: 50%; }
  .grid .col-7 {
    width: 58.33333%; }
  .grid .col-8 {
    width: 66.66667%; }
  .grid .col-9 {
    width: 75%; }
  .grid .col-10 {
    width: 83.33333%; }
  .grid .col-11 {
    width: 91.66667%; }
  .grid .col-12 {
    width: 100%; }
  .grid [class*='col-'] {
    float: left; }
    @media (min-width: 1200px) {
      .grid [class*='col-'] {
        padding-right: 25px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .grid [class*='col-'] {
    padding-right: 16px; } }
    @media (max-width: 700px) {
      .grid [class*='col-'] {
        padding-right: 0; } }
    .grid [class*='col-']:last-of-type {
      padding-right: 0; }
    @media (max-width: 700px) {
      .grid [class*='col-'] {
        width: 100%; }
        .grid [class*='col-']:not(:last-of-type) {
          margin-bottom: 20px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .grid.maximise-on-tablet [class*='col-'] {
    width: 100%;
    padding-right: 0; }
    .grid.maximise-on-tablet [class*='col-']:not(:last-of-type) {
      margin-bottom: 70px; } }

@media (min-width: 1200px) {
  .content {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 30px;
    padding-bottom: 30px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .content {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px; } }

@media (max-width: 700px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px; } }

.content-inverse {
  background: #111;
  color: #fff; }

.banner {
  width: 100%;
  min-height: 50vh;
  display: table; }
  .banner > * {
    display: table-cell;
    vertical-align: middle; }
  @media (min-width: 1200px) {
    .banner {
      padding-left: 160px;
      padding-right: 160px;
      padding-top: 30px;
      padding-bottom: 30px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .banner {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px; } }
  @media (max-width: 700px) {
    .banner {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 18px;
      padding-bottom: 18px; } }

.form {
  line-height: 1.5; }
  .form > :not(:last-of-type) {
    margin-bottom: 10px; }

.static-panel, .static-panel * {
  -border: 1px solid red; }

@media (min-width: 1200px) {
  .static-panel {
    display: -ms-grid;
    display: grid;
    position: relative;
    min-width: auto;
    max-width: 1400px;
    margin: auto;
    -ms-grid-columns: 210px minmax(auto, 1000px) 210px;
    grid-template-columns: 210px minmax(auto, 1000px) 210px; }
    .static-panel .panel-left, .static-panel .panel-right {
      position: relative; }
      .static-panel .panel-left .panel-side-content, .static-panel .panel-right .panel-side-content {
        position: fixed;
        width: 210px;
        padding: 25px;
        padding-top: 0;
        font-size: 20px; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .static-panel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px auto;
    grid-template-columns: 200px auto; }
    .static-panel .panel-left {
      position: relative; }
      .static-panel .panel-left .panel-side-content {
        position: fixed;
        width: 200px;
        padding: 22px;
        padding-top: 0;
        font-size: 20px; }
    .static-panel .panel-right {
      margin-top: 1rem;
      -ms-grid-column: 2;
      grid-column: 2; } }

button, .button, [type="button"] {
  padding: 14px;
  font-size: 1.12rem;
  cursor: pointer;
  border: 2px solid #111;
  color: #111;
  background: #fff;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  button:hover, .button:hover, [type="button"]:hover {
    background: #ebebeb; }
  button:active, .button:active, [type="button"]:active {
    background: #e0e0e0; }
  button.button-small, .button.button-small, [type="button"].button-small {
    padding: 10px;
    font-size: 1.25rem; }
  button.button-inverse, .button.button-inverse, [type="button"].button-inverse {
    border-color: #fff;
    color: #fff;
    background: #111; }
    button.button-inverse:hover, .button.button-inverse:hover, [type="button"].button-inverse:hover {
      background: #252525; }
    button.button-inverse:active, .button.button-inverse:active, [type="button"].button-inverse:active {
      background: #303030; }

input:not([type=submit]):not([type=button]) {
  width: 100%;
  padding: 14px;
  border: 2px solid #111;
  color: #111;
  background: #fff; }
  input:not([type=submit]):not([type=button]):focus {
    background: #fafafa;
    -webkit-box-shadow: 0 0 0 1px #111 inset;
    box-shadow: 0 0 0 1px #111 inset;
    outline: none; }

textarea {
  width: 100%;
  resize: vertical;
  min-height: 300px;
  padding: 14px;
  border: 2px solid #111;
  color: #111;
  background: #fff; }
  textarea:focus {
    background: #fafafa;
    -webkit-box-shadow: 0 0 0 1px #111 inset;
    box-shadow: 0 0 0 1px #111 inset;
    outline: none; }

.alert {
  padding: 25px;
  margin: 5px;
  border: 2px solid #111;
  background-color: #eee;
  color: #111; }
  .alert.alert-inverse {
    background: #111;
    color: #eee; }
