// colours!
$main-red: #a63446
$main-blue: #0C6291
$main-green: #499F68
$black: #333333
$white: #eee
    
$page-font: "Segoe UI"
$page-font-size: 1.12rem
$page-font-color: #111
$page-background-color: #fff

$link-font-color: #0275d8

$button-font-size-small: 1.25rem

$nav-font-color: #111
$nav-background-color: #fff

$page-margin-desktop: 260px
$page-margin-tablet: 80px
$page-margin-mobile: 20px

$panel-margin-desktop: 400px
$panel-margin-tablet: 260px
$panel-font-size-desktop: 20px
$panel-font-size-tablet: 20px
$panel-right-font-size-desktop: 18px

$break-point-1: 700px
$break-point-2: 1200px

$h1-font-size-desktop: 80px
$h2-font-size-desktop: 64px
$h3-font-size-desktop: 48px
$h4-font-size-desktop: 36px
$h5-font-size-desktop: 28px
$h6-font-size-desktop: 24px

$h1-font-size-tablet: 54px
$h2-font-size-tablet: 50px
$h3-font-size-tablet: 44px
$h4-font-size-tablet: 35px
$h5-font-size-tablet: 28px
$h6-font-size-tablet: 24px

$h1-font-size-mobile: 35px
$h2-font-size-mobile: 32px
$h3-font-size-mobile: 30px
$h4-font-size-mobile: 27px
$h5-font-size-mobile: 25px
$h6-font-size-mobile: 23px