button, .button, [type="button"]
    padding: 14px
    font-size: $page-font-size
    cursor: pointer
    border: 2px solid $page-font-color
    color: $page-font-color
    background: $page-background-color
    transition: all 0.1s ease-out
    &:hover
        background: darken($page-background-color, 8%)
    &:active
        background: darken($page-background-color, 12%)
    &.button-small
        padding: 10px
        font-size: $page-font-size - 2px
    &.button-inverse
        border-color: $page-background-color
        color: $page-background-color
        background: $page-font-color
        &:hover
            background: lighten($page-font-color, 8%)
        &:active
            background: lighten($page-font-color, 12%)